# rename this file to .env (with the leading dot) and place it next to docker-compose.yml
BOT_TOKEN=123456789:AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQq
DB_URL=postgresql+psycopg://user:password@server/db
PGADMIN_USER=admin@admin.com
PGADMIN_PASSWORD=password
